#btn-youtube{
color: white;
font-size: 32px;
padding: 20px 16px;
border: none;
outline: none;
background: none;
cursor: progress;
margin-right: 20px;
}

#btn-signup{
    background-color: lightblue;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
    }

#btn-disabled{
    background-color: lightblue;
    padding: 8px 16px ;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: not-allowed;
    opacity: 0.6;
}    